<div class="mt--1">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="">
        <div class="">
          <div class="text-center mb-3">
            <!-- Avatar section -->
            <div class="avatar-wrapper">
              <div class="avatar rounded-circle overflow-hidden position-relative">
                <!-- Avatar display -->
                <img *ngIf="imageUrl; else defaultAvatar" [src]="imageUrl" class="img-fluid" alt="Avatar">
                <ng-template #defaultAvatar>
                  <div class="default-avatar d-flex justify-content-center align-items-center text-secondary bg-light">
                    <span class="material-icons">Brand logo</span> <!-- Change to your preferred icon or text -->
                  </div>
                </ng-template>
                <!-- Avatar upload button -->
                <div class="camera-icon">
                  <i class="fa fa-solid fa-camera"></i>
                </div>
                <input type="file" (change)="onFileSelected($event)" accept="image/*"
                  class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-light">
              </div>
            </div>
            <!-- End Avatar section -->
          </div>

          <form [formGroup]="businessForm" (ngSubmit)="submitForm()">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Business Name</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative"
                      formControlName="businessName" placeholder="Business Name" required>
                    <div style="color: red;"
                      *ngIf="businessForm.get('businessName').invalid && (businessForm.get('businessName').dirty || businessForm.get('businessName').touched)">
                      <div *ngIf="businessForm.get('businessName').errors?.required">Business Name is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Business Category</label>
                    <select formControlName="businessCategory" id="business-category"
                      class="form-control form-control-alternative">
                      <option selected value="undefined">Select Category</option>
                      <option *ngFor="let category of busineeCategoryCollectiondata" [value]="category.id">{{
                        category.name }}</option>
                    </select>
                    <div style="color: red;"
                      *ngIf="businessForm.get('businessCategory').invalid && (businessForm.get('businessCategory').dirty || businessForm.get('businessCategory').touched)">
                      <div *ngIf="businessForm.get('businessCategory').errors?.required">Business Category is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Business Description</label>
                    <textarea formControlName="businessDescription" id="input-business-description"
                      class="form-control form-control-alternative" rows="3"
                      placeholder="Business Description"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Store Timings</label>
                    <div>
                      <label class="radio-inline">
                        <input class="form-control-radio" type="radio" formControlName="storeTimings" value="allDays">
                        All Days
                      </label>
                      <label class="radio-inline">
                        <input class="form-control-radio" type="radio" formControlName="storeTimings" value="pickDays">
                        Pick Days
                      </label>
                    </div>
                    <!-- Only show if "Pick Days" is selected -->
                    <div *ngIf="businessForm.get('storeTimings').value === 'pickDays'">
                      <div class="form-row align-items-center" *ngFor="let day of days">
                        <div class="col-sm-3">
                          <label>{{ day }}</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <label class="switch">
                                <input class="timingsCheckbox" type="checkbox"
                                  [formControl]="businessForm.get(day.toLowerCase() + 'Open')">
                                <span class="slider round"></span>
                              </label>
                            </div>
                            <div *ngIf="businessForm.get(day.toLowerCase() + 'Open').value" class="col-auto">
                              Open
                            </div>
                            <div *ngIf="!businessForm.get(day.toLowerCase() + 'Open').value" class="col-auto">
                              Closed
                            </div>
                            <div *ngIf="businessForm.get(day.toLowerCase() + 'Open').value" class="col-auto">
                              <input type="time" class="form-control time-input"
                                [formControl]="businessForm.get(day.toLowerCase() + 'StartTime')">
                            </div>
                            <div *ngIf="businessForm.get(day.toLowerCase() + 'Open').value" class="col-auto text-center">
                              -
                            </div>
                            <div *ngIf="businessForm.get(day.toLowerCase() + 'Open').value" class="col-auto">
                              <input type="time" class="form-control time-input"
                                [formControl]="businessForm.get(day.toLowerCase() + 'EndTime')">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="gstNumber">GST Number</label>
                    <div class="input-group">
                      <input type="text" id="gstNumber" class="form-control form-control-alternative gst-input"
                        placeholder="Enter GST Number" formControlName="gstNumber">
                      <div class="input-group-append">
                        <label for="uploadGstFile" class="btn btn-outline-secondary mb-0">
                          <i class="fa fa-upload"></i> 
                        </label>
                        <input id="uploadGstFile" type="file" (change)="onGstFileSelected($event)" accept=".pdf,.doc,.docx,.xls,.xlsx"
                          style="display: none;">
                      </div>
                    </div>
                    <div class="mt-2" *ngIf="gstFile">
                     
                      
                      <div class="d-flex align-items-center">
                        <p class="mb-0 mr-2">{{ gstFile.name }}</p>
                        <button type="button" class="btn btn-sm btn-primary mr-2" (click)="downloadGstFile()">
                          <i class="fa fa-download"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" (click)="removeGstFile()">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="businessLocation">Business Location</label>
                    <input type="text" id="businessLocation" class="form-control form-control-alternative"
                      placeholder="Business Location">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label">Are you the owner/manager of this business?</label>
                    <div>
                      <label>
                        <input type="radio" formControlName="userType" value="owner"> I'm the business owner
                      </label>
                    </div>
                    <div>
                      <label>
                        <input type="radio" formControlName="userType" value="manager"> I'm the in charge/manager
                      </label>
                    </div>
                    <div>
                      <label>
                        <input type="radio" formControlName="userType" value="employee"> I'm the employee
                      </label>
                    </div>
                    <div style="color: red;"
                      *ngIf="businessForm.get('userType').hasError('required') && businessForm.get('userType').touched">
                      Please select an option.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-user-name">Name</label>
                    <input type="text" id="input-user-name" class="form-control form-control-alternative"
                      placeholder="Enter your name" formControlName="userName" />
                    <div style="color: red;"
                      *ngIf="businessForm.get('userName').invalid && (businessForm.get('userName').dirty || businessForm.get('userName').touched)">
                      <div *ngIf="businessForm.get('userName').errors?.required">Name is required.</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="mobileNumber">Mobile Number</label>
                    <input type="text" id="mobileNumber" class="form-control form-control-alternative"
                      placeholder="Enter your mobile number" formControlName="mobileNumber">
                    <div style="color: red;"
                      *ngIf="businessForm.get('mobileNumber').hasError('required') && businessForm.get('mobileNumber').touched">
                      Mobile number is required.
                    </div>
                    <div style="color: red;"
                      *ngIf="businessForm.get('mobileNumber').errors && businessForm.get('mobileNumber').touched">
                      Please enter a valid mobile number.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="acceptTerms">
                      <input type="checkbox" id="acceptTerms" formControlName="acceptTerms" />
                      I accept the terms and conditions as well as Privacy Policy
                    </label>
                    <div style="color: red;"
                      *ngIf="businessForm.get('acceptTerms').hasError('required') && businessForm.get('acceptTerms').touched">
                      You must accept the terms and conditions.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
