<h1>Add Student</h1>
<!-- <form class="add">
  <label for="name">Name</label>
  <input type="text" name="name" required [(ngModel)]="studentDetails.name" />

  <label for="age">Age</label>
  <input type="text" name="age" required [(ngModel)]="studentDetails.age" />

  <button type="button" (click)="add()">Add</button>
</form>
<br>
<br> -->

<div class="show">
  <ng-container *ngFor="let student of studentCollectiondata">
    <div>
      <label for="name-show">Name</label>
      <input type="text" name="name-show" [value]="student.name" required #name>

      <label for="age-show">Age</label>
      <input type="text" name="age-show" [value]="student.age" required #age>

      <button type="button" (click)="delete(student.id)">Delete</button>
      <button type="button" (click)="update(student.id, name, age)">Update</button>
    </div>
    <br>
  </ng-container>
</div>
<br><br><br><br><br><br>

<div class="mt--1">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="">
      


        
        <div class="">


          <div class="text-center mb-3">
            <!-- Avatar section -->
            <div class="avatar-wrapper">
              <div class="avatar rounded-circle overflow-hidden position-relative">
                <img *ngIf="imageUrl; else defaultAvatar" [src]="imageUrl" class="img-fluid" alt="Avatar">
                <ng-template #defaultAvatar>
                  <div class="default-avatar d-flex justify-content-center align-items-center text-secondary bg-light">
                    <span class="material-icons">Brand logo </span> <!-- Change to your preferred icon or text -->
                  </div>
                </ng-template>
                <div class="camera-icon">
                  <i class="fa fa-solid fa-camera"></i>
                </div>
                <input type="file" (change)="onFileSelected($event)" accept="image/*" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-light">
                
              </div>
            </div>
            <!-- End Avatar section -->
          </div>

          
          <form  [formGroup]="businessForm" (ngSubmit)="submitForm()">
            
            <div class="pl-lg-4">
              
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Businee Name</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative"
                      formControlName="businessName" placeholder="Business Name" value="lucky.jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Business Category</label>
                    <select id="business-category" class="form-control form-control-alternative" [(ngModel)]="selectedCategory">
                      <option value="">Select Category</option>
                      <option *ngFor="let category of busineeCategoryCollectiondata" [value]="category.id">{{ category.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Business Description</label>
                    <textarea id="input-business-description" class="form-control form-control-alternative"
                      rows="3" placeholder="Business Description">{{ businessDescription }}</textarea>
                  </div>
                </div>

              </div>
              <div class="row">

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Store Timings</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value="Jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Business Email Address</label>
                    <input required type="email" id="businessEmail" class="form-control form-control-alternative"
                      formControlName="businessEmail" placeholder="Business Email Address">
                      <div style="color: red;" *ngIf="businessForm.get('businessEmail').invalid && (businessForm.get('businessEmail').dirty || businessForm.get('businessEmail').touched)">

                      <div *ngIf="businessForm.get('businessEmail').errors?.email">Invalid email.</div>
                      <div *ngIf="businessForm.get('businessEmail').errors?.required">Email is required.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Business Website URL</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value="Jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">GST</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value="Jesse">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Business Location</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value="Jesse">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Are you the owner/manager of this
                      business</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value="Jesse">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value="Jesse">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Mobile Number</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value="Jesse">
                  </div>
                </div>

              </div>


              <div class="row">

                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">I accept the terms and conditions as well as
                      Privacy Policy </label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value="Jesse">
                  </div>
                </div>
              </div>
            
            
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</div>