/* app.component.css */


  /* catalogue.component.scss */

.tabs {
  display: flex;
  margin-bottom: 16px;
}

.tabs button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background-color: #f1f1f1;
  margin-right: 8px;
  border-radius: 4px;
}

.tabs button.active {
  background-color: #007bff;
  color: white;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px;
  overflow: hidden;
  width: 233px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 16px;
}

.card-body h5 {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: bold;
}

.card-body p {
  margin: 2px 0;
  font-size: 14px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  //gap: 16px;
}

/* The switch - the box around the slider */
/* Styles for the switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

/* The circle inside the slider */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Change background color when checked */
input:checked + .slider {
  background-color: #2196F3;
}

/* Move the circle when checked */
input:checked + .slider:before {
  transform: translateX(26px);
}
//cart align ment
.cart-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.web-img {
  width: 100%;
  height: auto;
}
.m-2 {
  margin: 1rem;
}

.mobile-size{
  width: 50%;
}

.seperate{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
}

.cart-center-mob{
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // width: 100%;
  // margin-top: 13rem;
  // margin-left: 7rem;
  // margin-right: -13rem;
  // margin-bottom: 9rem;
  width: 100%;
  height: 78vh;
  padding: 10px;
  
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 20px solid black;
}
.cart-center-mob::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers with a custom approach */
.cart-center-mob {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.mobile-border{
  border-color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(21, 12, 12, 0.1);
  border-radius: 50px; /* Rounded edges for container */
  border-style: solid;
  height: 85vh;
  justify-items: center;
  padding: 0px;
  margin: 3px;
  // width: 90%;
  // max-width: 400px;

}

.container {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
  /* Prevent elements from overflowing */
}

.mobile-border-item {
  border-color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(21, 12, 12, 0.1);
  border-radius: 50px; /* Rounded edges for container */
  border-style: solid;
  height: 85vh;
  overflow: auto; /* Internal scrolling */
  position: relative;
  -ms-overflow-style: none;
}
.container-mob{
  width: 100%;
  height: 80vh;
  padding: 10px;
  
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 20px solid black;
}
// .container-mob::-webkit-scrollbar-track{
//   background: transparent;
// }
.container-mob::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers with a custom approach */
.container-mob {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}


.mobile-size-cart{
  width: 82%;
    height: auto;
    padding: 97px;
}
.mobile-border-cart{
  border-color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(21, 12, 12, 0.1);
  border-radius: 50px; /* Rounded edges for container */
  border-style: solid;
  height: 85vh;
  justify-items: center;
  padding: 0px;
  margin: 3px;
  // width: 90%;
  // max-width: 400px;

}