   
<!-- Display catalogue -->
 <div class="seperate" *ngIf="allActiveCatalogue.length > 0 || allDisabledCatalogue.length > 0">
  <div class="p-lg-4  m-4">
    <div class="tabs">
      <button (click)="setActiveTab('all')" [class.active]="activeTab === 'all'">All Items</button>
      <button (click)="setActiveTab('hidden')" [class.active]="activeTab === 'hidden'">Hidden Items</button>
    </div>
  
    <div id="productImages" class="my-4">
      <div class="text-left">
        <h2>Add Product Images</h2>
      </div>
      <div class="image-gallery">
        <!-- First image upload -->
        <div class="avatar-wrapper">
          <div class="avatar square overflow-hidden position-relative">
            <!-- Avatar display -->
            <img *ngIf="image1; else defaultAvatar1" [src]="image1" class="img-fluid" alt="Product Image 1" >
            <ng-template #defaultAvatar1>
              <div class="default-avatar">
                <span class="material-icons">Add Image</span>
              </div>
            </ng-template>
            <!-- Avatar upload button -->
            <div class="camera-icon">
              <i class="fa fa-solid fa-camera"></i>
            </div>
            <input type="file" (change)="onFileSelected($event, 1)" accept="image/*"
              class="file-input" id="fileInput1">
          </div>
          
        </div>
  
        <!-- Second image upload -->
        <div class="avatar-wrapper">
          <div class="avatar square overflow-hidden position-relative">
            <!-- Avatar display -->
            <img *ngIf="image2; else defaultAvatar2" [src]="image2" class="img-fluid" alt="Product Image 2">
            <ng-template #defaultAvatar2>
              <div class="default-avatar">
                <span class="material-icons">Add Image</span>
              </div>
            </ng-template>
            <!-- Avatar upload button -->
            <div class="camera-icon">
              <i class="fa fa-solid fa-camera"></i>
            </div>
            <input type="file" (change)="onFileSelected($event, 2)" accept="image/*"
              class="file-input" id="fileInput2">
          </div>
          <div class="col-6">
            <label class="switch" (click)="$event.stopPropagation()">
              <input type="checkbox" name="toggle{{ i }}" [(ngModel)]="item.isShown"  (change)="onToggleChange(item)">
              <span class="slider"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card-container" *ngIf="activeTab === 'hidden'">
      <div *ngFor="let item of allDisabledCatalogue" class="card" (click)="navigateToCrud(item.Mobile,item.id)">
        <div *ngIf="item.Image1">
          <img [src]="item.Image1" alt="Image 1">
        </div>
        <div class="card-body row">
          <div class="col-6">
            <h5>{{ item.ItemName }}</h5>
            <p>MRP: {{ item.MRP }}</p>
            <p>Selling Price: {{ item.SellingPrice }}</p>
          </div>
          <div class="col-6">
            <label class="switch" (click)="$event.stopPropagation()">
              <input type="checkbox" name="toggle{{ i }}" [(ngModel)]="item.isShown" (change)="onToggleChange(item)">
              <span class="slider"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile -->
  <div class="mobile-border">
    <div class="p-lg-4 container-mob">
      <div class="tabs">
        <button  [class.active]="activeTab === 'all'">All Items</button>
        <button  [class.active]="activeTab === 'hidden'">Hidden Items</button>
      </div>
      <div class="card-container-mob" *ngIf="activeTab === 'all'">
        <div *ngFor="let item of allActiveCatalogue" class="card">
          <div *ngIf="item.Image1">
            <img [src]="item.Image1" alt="Image 1">
          </div>
          <div class="card-body row">
            <div class="col-6">
              <h5>{{ item.ItemName }}</h5>
              <p>MRP: {{ item.MRP }}</p>
              <p>Selling Price: {{ item.SellingPrice }}</p>
            </div>
            <div class="col-6">
              <label class="switch">
                <input readonly disabled type="checkbox" name="toggle{{ i }}" [(ngModel)]="item.isShown">
                <span style="background-color: #90c0e7;" class="slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card-container-mob" *ngIf="activeTab === 'hidden'">
        <div *ngFor="let item of allDisabledCatalogue" class="card">
          <div *ngIf="item.Image1">
            <img [src]="item.Image1" alt="Image 1">
          </div>
          <div class="card-body row">
            <div class="col-6">
              <h5>{{ item.ItemName }}</h5>
              <p>MRP: {{ item.MRP }}</p>
              <p>Selling Price: {{ item.SellingPrice }}</p>
            </div>
            <div class="col-6">
              <label class="switch">
                <input type="checkbox" name="toggle{{ i }}" [(ngModel)]="item.isShown">
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
 </div>


<!-- div create buttonn catalogue -->

<div class="seperate" *ngIf="allActiveCatalogue.length === 0 && allDisabledCatalogue.length === 0">
  <div class="cart-center">
    <div class="m-2">
      <img class="web-img" src="../../../assets/img/cart.jpg" alt="Cart">
    </div>
    <div class="m-2" >
      <button class="btn btn-primary" (click)="navigateToCrud('','')">+ catalogue</button>
    </div>
  </div>
  
  <!-- mobile view -->
   <div class="mobile-border-cart" *ngIf="allActiveCatalogue.length === 0 && allDisabledCatalogue.length === 0">
    <div class="container-mob">
      <div class="m-2">
        <img  class="mobile-size-cart" src="../../../assets/img/cart.jpg" alt="Cart">
      </div>
      <div class="m-2" style="padding-left: 35%;">
        <button class="btn btn-primary"><span style="size:2rem;">+</span> catalogue</button>
      </div>
    </div>
   </div>
  
</div>






